@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Flamenco&display=swap");

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #F5F5F5;
    font-family: Flamenco, sans-serif;
    text-align: center;
    padding: 3px;
}

#logo {
    font-family: 'ADLaM Display', cursive;
    color: blue;
    text-align: center;
    padding: 10px 10px 20px 10px;
}

#introduction {
    text-align: center;
    font-family: 'Flamenco', sans-serif;
    color: #00008B;
    width: 80%;
    height: auto;
    margin: auto;
    line-height: 1.4;
    padding-bottom: 4px;
}

input {
    border: 1px solid black;
    width: 80px;
    margin-left: 5px;
}

div {
    width: auto;
    height: fit-content;
    text-align: center;
    margin-bottom: 3px;
    padding: 0;
}

#investment {
    line-height: 1.6;
    background-color: #DCDCDC;
}

#sales-costs {
    line-height: 1.6;
    background-color: #DCDCDC;
}

#discount-rate {
    line-height: 1.6;
    background-color: #DCDCDC;
}

#sell-release {
    line-height: 1.6;
    background-color: #DCDCDC;
}

#submit-button {
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: #E0FFFF;
    border: solid grey 1px;
    border-radius: 5px;
}

#answer {
    line-height: 2rem;
    background-color: #DCDCDC;
    margin: 0;
    padding: 3px;
    color: green;
}